SERVER_PORT=3002

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ilia_users
DB_SSLMODE=disable

ILIACHALLENGE=your-external-jwt-secret
ILIACHALLENGE_INTERNAL=your-internal-jwt-secret
WALLET_BASE_URL=http://ilia-wallet:3001
